.project {
	background-color: var(--color-main-bg-accent);
	padding: var(--spacing-3) var(--spacing-7);
	border-radius: var(--spacing-10);
	display: flex;
	align-items: center;
	gap: var(--spacing-6);
	max-height: 15rem;
	text-decoration: none;
	color: var(--color-text-dark);
	box-shadow: 0 var(--spacing-4) var(--spacing-4) rgba(0, 0, 0, 0.3);

	transition-property: box-shadow transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.project > img {
	object-fit: contain;
	max-width: 10rem;
	max-height: 100%;
}
.project:hover {
	transform: scale(1.05);
	box-shadow: 0 var(--spacing-6) var(--spacing-5) rgba(0, 0, 0, 0.3);
}
