.dialog {
	margin: 0 auto;
	margin-top: var(--spacing-12);
	border: 3px solid var(--color-popup-border);
	border-radius: var(--spacing-4);
	background-color: var(--color-popup-bg);
}
.dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}
