.container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: var(--spacing-11);
}

.navigation {
	background-color: var(--color-nav-bg);
	display: flex;
	gap: var(--spacing-6);
	padding: 0 var(--spacing-5);
	padding-bottom: var(--spacing-4);
	border-radius: 0 0 var(--spacing-7) var(--spacing-7);
}
.logout {
}

.link:link,
.link:visited,
.active:link,
.active:visited {
	font-size: var(--font-6);
	padding: var(--spacing-4) var(--spacing-6);
	border-radius: 0 0 var(--spacing-7) var(--spacing-7);
	text-decoration: none;
	color: black;
}
.link:hover {
	background-color: var(--color-nav-hover);
}
.link:active {
	background-color: var(--color-nav-click);
}
.active:link,
.active:visited,
.active:hover,
.active:active {
	box-shadow: 0 var(--spacing-2) var(--spacing-3) rgba(0, 0, 0, 0.1);
	text-decoration: none;
	color: black;
	background-color: var(--color-nav-curr);
}

.authorisation,
.logout {
	background-color: var(--color-nav-login);
	padding: var(--spacing-4);
	padding-top: 0;
	padding-right: 0;
	gap: var(--spacing-3);
	border-radius: 0 0 0 var(--spacing-6);
	display: flex;
	position: absolute;
	right: 0;
}
.linkLogin:link,
.linkLogin:visited,
.activeLogin:link,
.activeLogin:visited,
.linkRegister:link,
.linkRegister:visited,
.activeRegister:link,
.activeRegister:visited,
.logout > button {
	text-decoration: none;
	color: var(--color-text-dark);
	font-size: var(--font-6);
	padding: var(--spacing-4) var(--spacing-6);
	border: 0;
}
.linkRegister:link,
.linkRegister:visited,
.logout > button {
	background-color: var(--color-nav-register);
	border-radius: 0 0 0 var(--spacing-6);
}

.activeLogin:link,
.activeLogin:visited {
	background-color: var(--color-nav-curr);
	border-radius: 0 0 var(--spacing-6) var(--spacing-6);
}
.activeRegister:link,
.activeRegister:visited {
	background-color: var(--color-nav-curr);
	border-radius: 0 0 0 var(--spacing-6);
}
.logout > button {
}
