.sidebar {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

.list {
	min-width: 20rem;
	background-color: var(--color-lootbox-chances-bg);
	border-radius: 0 10px 10px 0;
	padding: var(--spacing-5) var(--spacing-7);
}
.list > ol {
	display: flex;
	flex-flow: column;
	gap: var(--spacing-4);

	max-height: 70rem;
	overflow-y: auto;
	list-style: none;
}
.list > ol > li {
	border-radius: var(--spacing-4);
	padding: var(--spacing-4);
}
.list > ol > li > div {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.2rem solid;
}
.list > ol > li > ol > li {
	display: flex;
	align-items: center;
	height: 4rem;
}
.list img {
	height: 100%;
}
/* .list > ol > li {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-text-dark);
	font-size: var(--font-7);
} */
.list > ol > li:last-child {
	border-bottom: 0;
}

.sidebar > button {
	background-color: var(--color-lootbox-chances-bg);
	border: 0;
	padding: var(--spacing-5) var(--spacing-1);
	border-radius: 0 10px 10px 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.listRewards {
	list-style: none;
}
