.item {
	border-radius: 1rem;
	font-size: var(--font-9);
	padding: var(--spacing-4);

	margin-bottom: var(--spacing-4);

	height: 9rem;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: var(--spacing-4);
}

.item > img {
	height: 100%;
}
