.container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: var(--spacing-11);
}

.navigation,
.navigationAdmin {
	background-color: var(--color-nav-bg);
	display: flex;
	gap: var(--spacing-6);
	padding: 0 var(--spacing-5);
	padding-bottom: var(--spacing-4);
	border-radius: 0 0 var(--spacing-7) var(--spacing-7);
}
.navigationAdmin {
	border-radius: 0 0 var(--spacing-7) 0;
}
.logout {
}

.link:link,
.link:visited,
.active:link,
.active:visited,
.linkRegister:link,
.linkRegister:visited,
.logout > button,
.logout > p {
	z-index: 1;
	position: relative;
	font-size: var(--font-6);
	padding: var(--spacing-4) var(--spacing-6);
	border-radius: 0 0 var(--spacing-7) var(--spacing-7);
	border: 0;
	text-decoration: none;
	color: var(--color-text-dark);
}
.link::after,
.active::after {
	transition-property: background-color transform box-shadow;
	transition-timing-function: ease-in;
	z-index: -1;
	position: absolute;
	content: "";
	inset: 0;
	border-radius: 0 0 var(--spacing-7) var(--spacing-7);

	opacity: 0;
	visibility: hidden;
}
.active::after {
	transition-duration: 200ms;
}
.link::after {
	transform: translateY(-1.5rem);
	transition-duration: 400ms;
}
.link:hover::after {
	transition-property: background-color transform box-shadow;
	transition-duration: 200ms;
	transition-timing-function: linear;
	transform: translateY(0);
	box-shadow: 0 var(--spacing-2) var(--spacing-3) rgba(0, 0, 0, 0.2);
	background-color: var(--color-nav-hover);
	opacity: 1;
	visibility: visible;
}
.link:active::after {
	background-color: var(--color-nav-click);
}
.active::after {
	box-shadow: 0 var(--spacing-2) var(--spacing-3) rgba(0, 0, 0, 0.2);
	background-color: var(--color-nav-curr);
	opacity: 1;
	visibility: visible;
}

.authorisation,
.logout {
	background-color: var(--color-nav-login);
	padding: var(--spacing-4);
	padding-top: 0;
	padding-right: 0;
	gap: var(--spacing-3);
	border-radius: 0 0 0 var(--spacing-6);
	display: flex;
	position: absolute;
	right: 0;
}

.linkRegister:link,
.linkRegister:visited,
.logout > button {
	transition-property: background-color transform box-shadow;
	transition-duration: 200ms;
	transition-timing-function: linear;
	background-color: var(--color-nav-register);
	border-radius: 0 0 0 var(--spacing-6);
}
.linkRegister:hover,
.logout > button:hover {
	background-color: var(--color-nav-register-hover);
}

.activeRegister:link,
.activeRegister:visited {
	background-color: var(--color-nav-curr);
}
.logout > button {
}

.admin {
	position: fixed;
	top: 0;
	left: 0;
}
